.lesson-card {
    padding: 5px 8px;
    border: 1px solid #a9dfea87;
    margin-bottom: 20px;
    background-color: #a9dfea87;
    border-radius: 7px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.learningOutcomes .card-text {
    background-color: #fd622f87;
    padding: 10px;
}

.learningOutcomes .card-text ul, .lessonCourse .card-text ul, .methods ul, .didacticMaterials ul {
    margin: 0 1.5em 1.5em;
}

.lessonCourse .card-text {
    background-color: #2e6da47d;
    padding: 10px;
}

.card-text u {
    text-align: center;
}
.lesson-card-content h3 {
    font-weight: bold;
}
.appendices pre {
    max-width: 50%!important;
    background-color: #bdbdbd8a!important;
}
.lesson-card-content h3 {
    margin-top: 30px;
}