/*
Theme Name: Code IT
Description: Motyw potomny twentyseventeen
Author: Danmar Team
Template: twentyseventeen
*/

@import url('../twentyseventeen/style.css');

@media screen and (min-width: 770px){
    .eu-img {
        width: 35%;
        float: left;
    }
    .eu-text {
        width: 65%;
        float: left;
    }
    .eu-text p {
        text-align: left;
    }

}
#handbook #primary, #customPosts #primary {
    max-width: 1100px;
    width: 100%;
}
span.cat-tags-links, .post-navigation {
    display: none!important;
}

.handbook-chapters > a {
    text-decoration: none;
}
.handbook-chapters > h3 {
    text-align: center;
}
.handbook-chapters {
    -webkit-box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    background-color: #efefef;
    border-radius: 5px;
    transition: transform .2s;
}
.handbook-chapters p {
    padding: 8px!important;
}
.handbook-chapters img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.handbook-chapters:hover {
    transform: scale(1.1);
}
h1.handbook-title {
    text-align: center;
    font-weight: bold;
}
.post-template-archive-handbook .single-featured-image-header {
    display: none!important;
}
.ul {
    margin: 0 0 1.5em 2.5em;
}

.table-dashed {
    background-color: #fff;
    text-align: center;
    border-collapse: collapse;
    width: 90%;
    margin: 10px auto;
}
table.table-dashed, .table-dashed tr,.table-dashed td {
    border: 1px solid black;
}
.dashed-border {
    background-color: #fff;
    border: 1px dashed black;
    font-style: italic;
    width: 60%;
    margin: 15px auto;
    padding: 10px;
}

#related_posts {
    margin-top: 45px;
}
#related_posts ul {
    list-style-type: none;
}

.footnotes {
    font-size: 13px;
}
td {
    padding: 0.4em!important;
}
.progress {
    height: 1.75rem!important;
}
.finished {
    margin-top: 5px;
    color: #fc6b3b;
}